header{
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

footer{
    font-size: 18px;
    font-weight: 900;
    font-family: monospace;
    position: fixed;
    bottom: 0px;
    width:100%;
    text-align: center;
}
section{
    font-size: 20px;
    font-family: sans-serif;
}